.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

 html, body, .container-table {
    height: 95%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.errorlist{
    display: none;
}

.login_box{
    background-color: white;
    border:solid;
    border-color:grey;
}

.login{
    margin-bottom: 10px;
}