.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

 html, body, .container-table {
    height: 95%;
}


.reg_box{
    background-color: white;
    border:solid;
    border-color:grey;

    padding-bottom: 10px;
}