{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>Manage</title>
{%  endblock %}


{% block styles %}
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="page-header">Account Management</h1>
    <h3>General Settings</h3>
    <ul>
        <li><a href="#" id="opener">Delete Account</a></li>
    </ul>
    <h3>Education</h3>
    <h3>Industry Experience</h3>
    <h3>Applications</h3>
    <h3>Favorites</h3>


    <div id="dialog" title="Dialog Title">
        Are you sure you want to delete your account?

    </div>



{%  endblock %}


{% block bot_includes %}
    <script src="{% static 'js/jquery-ui.min.js' %}" ></script>
    <script src="{% static 'js/manage.js' %}" ></script>
{% endblock %}