{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>Manage</title>
{%  endblock %}


{% block styles %}
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="page-header">Account Management</h1>




    <h3>General Settings</h3>
    <ul>
        <li><a href="#" id="opener">Delete Account</a></li>
    </ul>



    <h3>Education</h3>
    <h4>Current Program</h4>
    <table class="table" id="app-table">
        <thead>
            <th>School Program</th>
            <th>GPA</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Credit Hours</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ student.current_program}}</td>
                <td>{{ student.gpa}}</td>
                <td>{{ student.start_date}}</td>
                <td>{{ student.end_date}}</td>
                <td>{{ student.credit_hours}}</td>
                <td><span class="glyphicon glyphicon-trash remove-gre"></span></td>
            </tr>
            {% if not student.current_program %}
                 <tr>
                    <td><span class="glyphicon glyphicon-plus" id="add-app"></span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
        </tbody>
    </table>





    <h4>Previous Programs</h4>
    <table class="table" id="app-table">
        <thead>
            <th>Program</th>
            <th>School</th>
            <th>GPA</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Credit Hours</th>
            <th>Delete</th>
        </thead>
        <tbody>
             <tr>
                <td><span class="glyphicon glyphicon-plus" id="add-app"></span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <h4>Test Scores</h4>

    <h5>GRE</h5>
    <table class="table" id="app-table">
        <thead>
            <th>Verbal</th>
            <th>Quant</th>
            <th>Writing</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ gre.0.verb }}</td>
                <td>{{ gre.0.quant }}</td>
                <td>{{ gre.0.write }}</td>
                <td><span class="glyphicon glyphicon-trash remove-gre"></span></td>
            </tr>
            {% if not gre %}
                <tr>
                    <td><span class="glyphicon glyphicon-plus" id="add-gre"></span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
        </tbody>
    </table>



    <h5>TOEFL</h5>
    <table class="table" id="app-table">
        <thead>
            <th>Reading</th>
            <th>Listening</th>
            <th>Speaking</th>
            <th>Writing</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% if toefl %}
                <tr>
                    <td>{{ toefl.0.reading }}</td>
                    <td>{{ toefl.0.listening }}</td>
                    <td>{{ toefl.0.speaking }}</td>
                    <td>{{ toefl.0.writing }}</td>
                    <td><span class="glyphicon glyphicon-trash remove-gre"></span></td>
                </tr>
            {% endif %}


            {% if not toefl %}
                <tr>
                    <td><span class="glyphicon glyphicon-plus" id="add-gre"></span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
        </tbody>
    </table>



    <h3>Industry Experience</h3>








    <h3>Applications</h3>
    <table class="table" id="app-table">
        <thead>
            <th>School Program</th>
            <th>Date Submitted</th>
            <th>Date Modified</th>
            <th>Status</th>
            <th>Delete</th>
        </thead>

        {% for application in apps %}
            <tr id="app-{{application.id}}">
                <td>{{application.school_program}}</td>
                <td>{{application.date_submitted}}</td>
                <td>{{application.date_updated}}</td>
                <td>
                    <select class="modify-app">
                        <option {% if application.status == "Pending" %}selected="selected"{% endif %}>Pending</option>
                        <option {% if application.status == "Accepted" %}selected="selected"{% endif %}>Accepted</option>
                        <option {% if application.status == "Denied" %}selected="selected"{% endif %}>Denied</option>
                    </select>
                </td>
                <td><span class="glyphicon glyphicon-trash remove-app"></span></td>
            </tr>
        {% endfor %}

        <tr>
            <td><span class="glyphicon glyphicon-plus" id="add-app"></span></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    {% if apps_form.errors %}
        <div class="alert alert-danger" role="alert">
            <p>Error when attempting to add application!</p>
        </div>
    {% endif %}



    <form method="POST" {% if not apps_form.errors %} style="display:none" {% endif %} id="form-app">
        {% csrf_token %}
        {% for field in apps_form %}
            <div class="row">
                <div class="col-xs-8"> {{ field.label_tag }} {{ field }}</div>
                <div class="col-xs-4">{{ field.errors }}</div>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-default">Add Application</button>
    </form>





    <h3>Favorites</h3>


    <div id="dialog-acc-delete" title="Dialog Title">
        Are you sure you want to delete your account?

    </div>

    <div id="dialog-app-delete" title="Dialog Title">
        Are you sure you want to delete this application?

    </div>



{%  endblock %}


{% block bot_includes %}
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="{% static 'js/jquery-ui.min.js' %}" ></script>
    <script src="{% static 'js/manage.js' %}" ></script>
{% endblock %}}