{% extends "base.html" %}

{% block title %}
    <title>Students Detail View</title>
{% endblock %}

{% block content %}



    <h3>Student Details</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Student #</th>
                <th>Current Program</th>
                <th>Current GPA</th>
                <th>Current Credit Hours</th>
                <th>Current Start Date</th>
                <th>Current End Date</th>
                <th>Prev Program</th>
                <th>Prev GPA</th>
                <th>Prev Credit Hours</th>
                <th>Prev Start Date</th>
                <th>Prev End Date</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td>{{ student.user_id }}</td>
                <td>{{ student.current_program}}</td>
                <td>{{ student.current_gpa }}</td>
                <td>{{ student.current_credit_hours}}</td>
                <td>{{ student.current_start_date}}</td>
                <td>{{ student.current_end_date}}</td>
                <td>{{ student.prev_program }}</td>
                <td>{{ student.prev_gpa }}</td>
                <td>{{ student.prev_credit_hours }}</td>
                <td>{{ student.prev_start_date }}</td>
                <td>{{ student.prev_end_date }}</td>
              </tr>

            </tbody>
          </table>
        </div>


    {% if  gre_scores%}
    <h3>GRE Scores</h3>
    <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Quantitative</th>
                <th>Verbal</th>
                <th>Writing</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ gre_scores.quant }}</td>
                <td>{{ gre_scores.verb}}</td>
                <td>{{ gre_scores.write}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    {% endif %}

    {% if toelf_scores %}
    <h3>TOEFL Scores</h3>
    <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Reading</th>
                <th>Listening</th>
                <th>Speaking</th>
                  <th>Writing</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ toelf_scores.reading }}</td>
                <td>{{ toelf_scores.listening}}</td>
                <td>{{ toelf_scores.speaking}}</td>
                <td>{{ toelf_scores.writing}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    {% endif %}


    {% if  application_details%}
    <h3>Applications</h3>


        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Student #</th>
                <th>School</th>
                <th>Program</th>
                <th>GPA</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for application in application_details %}
              <tr>
                <td>{{ application.student.user_id }}</td>
                <td>{{ application.school_program.school}}</td>
                <td>{{ application.school_program.program}}</td>
                <td>{{ application.school_program.gpa}}</td>
                <td>{{ application.status }}</td>
              </tr>
              {% empty %}
              {% endfor %}
            </tbody>
          </table>
        </div>
    {% endif %}


{% endblock %}