{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block styles %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


    <div class="container container-table">
        <div class="row vertical-center-row">
            <div class="col-xs-6 col-xs-offset-3">


                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                <form method="POST" >
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn">Login</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}