{% extends "base.html" %}

{% block title %}
  <title>School Program List</title>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <a href="{% url "filtered-school-program-list" %}">Show Only School Programs Whose Requirements I Meet</a>
{% endif %}
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>School</th>
        <th>Program</th>
      </tr>
      </thead>
      <tbody>
      {% for schoolprogram in object_list %}
      <tr>
        <td><a href="{{schoolprogram.id}}">{{ schoolprogram.school }}</a></td>
        <td>{{ schoolprogram.program }}</td>
      </tr>
      {% empty %}
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}