{% extends "base.html" %}

{% block title %}
    <title>School List</title>
{% endblock %}

{% block content %}

    <a href="{% url "filtered-school-list" %}">Show Only Schools Whose Requirements I Meet</a>


  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>School</th>
        <th>Abbr</th>
      </tr>
    </thead>
    <tbody>
      {% for school in object_list %}
      <tr>
        <td><a href="{{school.id}}">{{ school.name }}</a></td>
        <td>{{ school.abbr }}</td>
      </tr>
      {% empty %}
      {% endfor %}
    </tbody>
  </table>
  </div>

{% endblock %}