{% extends "base.html" %}

{% block title %}
    <title>School List</title>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-3">

            <form  role="search" action="{%url 'search-results' %}" method="post">
                <div class="form-group">
                    <select class="form-control" id="search_field" aria-expanded="false" name="field" style="display:none">
                        <option>School</option>
                    </select>

                    <input type="text" id="search_bar" class="form-control" placeholder="Search Schools" name="query_string">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>School</th>
                <th>Abbr</th>
            </tr>
            </thead>
            <tbody>
            {% for school in object_list %}
            <tr>
                <td><a href="{{school.id}}">{{ school.name }}</a></td>
                <td>{{ school.abbr }}</td>
            </tr>
            {% empty %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}